/* Aplican a todos HTML: */
*{
    font-family: 'Syne', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

header{
    background: green;
    width:100%;
    height: 15%;
    overflow: hidden;
    text-align: left;
    position: sticky;
    top:0;
}

.navbar a {
    color: black;
    text-decoration: none;
}
.na{
    flex:1;
    text-align: center;
}
.navbar{
    display: flex;
    background-color: grey;
}

h4 , h3, a{
    color:green;
}

a{
    text-decoration: none;
}
a:hover {
    opacity: 0.7;
}

footer{
    width:100%;
    overflow: hidden;
    background-color: lightgrey;
    bottom: 0;
    position: fixed;
    text-align: center;
}
/* Aplican index.html: */
.container-1{
    display: flex;
}
.box-1{
    border-radius: 15px;
    flex:1;
    position: relative;
    border: 0;
    transition-duration: 2s;
}

.box-1:hover {
    background-color: lightgray;
}
.container-1 div{
    border: 1px #ccc solid;
    padding: 10px;
}
/* Aplican a residuos.html: */   
  .PapelyCartón { grid-area: PapelyCartón;}
  .Plásticos { grid-area: Plásticos;}
  .Vidrio { grid-area: Vidrio; }
  .Metales { grid-area: Metales; }
  .Especiales { grid-area: Especiales; }

  .PapelyCartón, .Plásticos, .Vidrio, .Metales, .Especiales{
    border: 1px #ccc solid;
    border-radius: 15px;
  }
  

  .Plásticos > h3{
    color: red;
}
.PapelyCartón > h3{
    color: royalblue;
}
.Vidrio > h3{
    color: orange;
}
.Metales > h3{
    color: grey;
}
.Especiales > h3{
    color:black
}
  /* Aplican a formulario.html: */ 
.formulario{
    flex-direction: column;
    width: auto;
    margin: auto;   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}  
input{
    border-radius: 15px;
    border-color: cornsilk;
}
/* Aplican a sobremi.html: */ 
.avatar{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    border-radius: 15px;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }

  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: grey;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-radius: 15px;
  }

  button > a {
      color: white;
  }
/* Puntos de corte según dispositivo: */

/* Extra small devices (phones, 767px and down) */
@media only screen and (max-width: 767px) {
    .container-1{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
    }
    .background{
    margin-left: 2%;
    margin-right: 2%;
    height: 100vh;
    }
    img{
        display: none;
    }

    .grid-container {
        display: list-item;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        gap: 10px 10px; 
        grid-template-areas:
          "PapelyCartón"    
          "Plásticos"
          "Vidrio"
          "Metales""
          "Especiales";
       
      }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
   .background{
        margin-left: 15%;
        margin-right: 15%;
        height: 100vh;
    }

    img{
        width: 35%;
        height: 35%;
        border-color: white;
        margin:auto;
        display: block;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px 2px;
        grid-template-areas:
          "PapelyCartón Plásticos Vidrio Metales"
          "Especiales Especiales Especiales Especiales";
       
      }
	
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
   .background{
        margin-left: 15%;
        margin-right: 15%;
        height: 100vh;
    }

    img{
        width: 35%;
        height: 35%;
        border-color: white;
        margin:auto;
        display: block;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px 2px;
        grid-template-areas:
          "PapelyCartón Plásticos Vidrio Metales"
          "Especiales Especiales Especiales Especiales";
       
      }
}